<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md ="10" offset-md="1" >
          <ion-card>
            <ion-card-header>New Expense</ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>Expense Type</ion-label>
                <ion-select placeholder="Select One">
                  <ion-select-option value="Transport">Transport</ion-select-option>
                  <ion-select-option value="Meal">Meal</ion-select-option>
                  <ion-select-option value="Others">Others</ion-select-option>
                </ion-select>
              </ion-item>
              
              
              <ion-item>
                <ion-label position="floating">Expense Amount</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Incurred Date: </ion-label>
                <ion-input type="Date"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Expense Comment</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Attachment</ion-label>
                  <ion-fab-button (click)="addPhotoToGallery()"  fill="outline" size="small">
                    <ion-icon  name="link" ></ion-icon>
                  </ion-fab-button>
              </ion-item>
              <ion-grid >
                <ion-row  >
                  <ion-col *ngFor="let photo of photoService.photos;index as position" size='3'>
                    <ion-img [src]="photo.webviewPath" (click)="openPreview(photo.filepath)" tappable></ion-img>
                    <ion-button (click) = "showActionSheet(photo,position)">
                      <ion-icon name="trash"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div class="ion-align-items-right" >
                <ion-button color="secondary" >
                  <ion-icon name="bookmark"></ion-icon>Save
                </ion-button>
                <ion-button color="primary"> 
                  <ion-icon name="checkmark"></ion-icon>Submit
                </ion-button>
                <ion-button color="danger">
                  <ion-icon name="close"></ion-icon>Cancel
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      
    </ion-grid>
    <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="addPhotoToGallery()">
        <ion-icon name="attach"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  
    
  </ion-content>
</ion-content>
